# Ignore Visual Studio temporary files, build results

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache files
*.VC.db
*.VC.VC.opendb

# TFS 2012 Local Workspace
$tf/

# Click-Once directory
publish/

# Visual Studio directory
.vs/

# JSON outputs 
data/dest